<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>O que pretende fazer hoje?</h3>
    <h3>Há algum impedimento?</h3>
    <h3><a href="<%= @url %>">Responder</a></h3>
  </body>
</html>