<div>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <h1>Recuperar Senha</h1>
          <%= devise_error_messages! %>
          <div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
          </div>
          <div>
              <button type="submit" class="btn btn-default submit">Enviar</button>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <%= render "devise/shared/links" %>
            <div class="clearfix"></div>
            <br />
            <div>
              <h1> Gerenciador de Daily</h1>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>