<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Daily Meetings</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <%= simple_form_for @meeting, html: { class: "form-horizontal form-label-left" }, wrapper: false do |f| %>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="meeting_afternoon[message_one]">O que você realizou hoje? <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                             <%= f.input :message_one , placeholder:"Resposta", label: false, wrapper: false,input_html: { :class => "form-control col-md-7 col-xs-12" },required: true %>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="meeting_afternoon[message_two]">Houve algum impedimento? <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">                           
                            <%= f.input :message_two , placeholder:"Resposta", label: false, wrapper: false,input_html: { :class => "form-control col-md-7 col-xs-12" },required: true %>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success">Enviar</button>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>